.forgot-password-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.back-button {
  background: white;
  cursor: pointer;
  font-size: 0.9rem;
  align-self: flex-start;
  margin-bottom: 12px;
  z-index: 1;
  width: 35px !important;
  margin-left:-15px;
}

.back-button:hover {
  text-decoration: underline;
}

.forgot-password-card {
  width: 400px;
  height: auto;
  overflow: visible;
  padding: 45px;
  border-radius: 24px;
  background:white;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.forgot-password-card h1 {
  margin: 0;
  padding: 0;
  color: #4a9b8e;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.forgot-password-card input {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #4a9b8e;
  color: black;
  outline: none;
}

.forgot-password-card:hover {
  transform: translateY(-4px);
}

.forgot-password-card input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.forgot-password-card .forgot-password-button {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  background: #4a9b8e;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.forgot-password-card form {
  display: flex;
  flex-direction: column;
}

.forgot-password-card .forgot-password-button:hover {
  background: #4a9b8e;
}

.info{
  margin-top: 10px;
  display: block;
  margin-left:10px;
}

.success-text {
  color: #22c55e;
  font-size: 12px;
  display: block;
  position: static;
  margin: 0;
}

.error-text {
  color: #ef4444;
  font-size: 12px;
  display: block;
  position: static;
  margin: 0;
}
